var = int(input("Digite 1 - feminino , 2 - Masculino"))
if var == 1:
  nome = input ('Digite seu nome: ')
  RG = input('Digite seu R.G: ')
  CPF = input('Digite seu CPF: ')
  print('Agradecemos a sua inscrição!')
else:
  print('No momento não existem vagas disponíveis!')
  print('Agradecemos o interesse!')
